{% extends 'base.html' %}


{% block content %}
{% include 'header.html' %}

<div class="search_result">
    <div class="search_title">
        <h3>RESULT</h3>
    </div>
    {% if articles %}
        {% for article in articles %}
        <div class="article_main">
            {% if user == article.author %}
            <div class="delete_edit_post">
                <a href="{% url 'home:edit_post' pk=article.pk %}">edit</a>
                <a class="delete_btn" href="{% url 'home:delete_post' pk=article.pk %}">delete</a>
            </div>
            {% endif %}
            <div class="article_info_user">
                {% if article.author.profile.avatar %}
                    <img src="{{article.author.profile.avatar.url}}" width="40px" height="40px" />
                {% else %}
                    <img src="https://www.freeiconspng.com/uploads/no-image-icon-4.png" width="40px" height="40px" />
                {% endif %}
                <a href="{% url 'home:detail_profile' pk=article.author.profile.pk %}">{{article.author.profile.fullname}}</a>
                <span>{{article.date|date:'m-d H:i'}}</span>
            </div>
            {% if article.img %}
                <div class="img_article">
                    <img src="{{article.img.url}}" />
                </div>
            {% endif %}
            <p>{{article.text}} <a class="show_view" href="{% url 'home:detail_article' pk=article.pk %}">show view</a></p>
            <p class="comments">comments : <span class="count_comments_class">{{article.count_comments}}</span></p>
        </div>
        {% endfor %}
        {% if users %}

        {% for user in users %}
            <div class="search_user">
                <div class="div_user_info">
                {% if user.profile.avatar %}
                    <img src="{{user.profile.avatar.url}}" width="50px" height="50px" />
                {% else %}
                    <img src="https://www.freeiconspng.com/uploads/no-image-icon-4.png" width="50px" height="50px" />
                {% endif %}
                <a href="{% url 'home:detail_profile' pk=user.profile.pk %}">{{user.profile.fullname}}</a>
                <span>{{user.profile.description}}</span>
                </div>
            </div>
        {% endfor %}

        {% endif %}
    {% elif users %}
        {% for user in users %}
            <div class="search_user">
                <div class="div_user_info">
                {% if user.profile.avatar %}
                    <img src="{{user.profile.avatar.url}}" width="50px" height="50px" />
                {% else %}
                    <img src="https://www.freeiconspng.com/uploads/no-image-icon-4.png" width="50px" height="50px" />
                {% endif %}
                <a href="{% url 'home:detail_profile' pk=user.profile.pk %}">{{user.profile.fullname}}</a>
                <span>{{user.profile.description}}</span>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="not_found_search">
            <p> No results found for your request. </p>
        </div>
    {% endif %}


</div>

{% endblock %}
