{% extends 'base.html' %}
{% load static %}


{% block content %}
{% include 'header.html' %}
<div class="notes_container">
    {% include 'notes/formnote.html' %}
    <div class='grid'>
        {% if notes %}
        {% for note in notes %}
            <div class="card">
                <div class="btn_delete_note">
                    {% if note.is_done %}
                        <a class="btn_done" href="{% url 'notes:complete_page' pk=note.pk %}">undone</a>
                    {% else %}
                        <a class="btn_done" href="{% url 'notes:complete_page' pk=note.pk %}">done</a>
                    {% endif %}
                    <a href="{% url 'notes:delete_note' pk=note.pk %}">delete</a>
                </div>
                <div class="datetime_container">
                    <span>{{note.timestamp}}</span>
                    {% if note.is_done %}
                        <span class="complete">complete</span>
                    {% else %}
                    {% endif %}
                </div>
                <p>{{note.description}}</p>
                <span class="data_create">date created this note : {{note.create}}</span>
            </div>
        {% endfor %}
        {% else %}
            <p class="no_notes"> No notes </p>
        {% endif %}

    <div class="other">
        <h5> You can leave to create notes. </h5>
        <span class="btn_show_form">new note</span>
        <div class="statistics">
            <h6>STATISTICS</h6>
            <p>Hi, {{user.first_name}}.<br/>
                We will collect statistics and see which day you leave the most notes.
            </p>
            <a href="">this</a>
        </div>
    </div>


</div>

<script src="{% static 'js/note.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    $(function(){

    });
</script>


{% endblock %}
