{% extends 'base.html' %}
{% load static %}


{% block content %}
{% include 'header.html' %}
{% include 'backup.html' %}
<div class="detail_article">



    <p>{{article.text}}</p>
    {% if article.img %}
        <img src="{{article.img.url}}"  />
    {% endif %}
    <div class="detail_article_info">
        {% if article.author.profile.avatar %}
            <img src="{{article.author.profile.avatar.url}}" width="50px" height="50px" />
        {% else %}
            <img src="http://analiz-sajta.megabusin.ru/img/not-available.png" width="50px" height="50px" />
        {% endif %}
        <a href="{% url 'home:detail_profile' pk=article.author.profile.pk %}">{{article.author.profile.fullname}}</a>
        <span>{{article.date|date:'m-d-y'}}</span>
    </div>

    <div class="comments_container">
        {% if article.comments %}
            {% for com in article.comments %}

                <div class="form_container">
                    <div class="comments_div">
                            {% if user == com.author %}
                                <div class="btn_delete_and_edit">
                                <a class="btn_delete_comment" href="{% url 'home:delete_comment' pk=com.pk %}">delete</a>
                                </div>
                            {% endif %}
                        {% if com.author.profile.avatar %}
                            <img src="{{com.author.profile.avatar.url}}" width="30px" height="30px" />
                        {% else %}
                            <img src="https://kiittnp.in/8134d463acc8c7b66744a481847ab4b/assets/img/user.png" width="30px" height="30px" />
                        {% endif %}
                        <a href="{% url 'home:detail_profile' pk=com.author.profile.pk %}">{{com.author.profile.fullname}}</a>

                    </div>
                    <p class="comment">{{com.text}}</p>
                </div>
            {% endfor %}
        {% else %}
            <p class="not_comments">not comments</p>
        {% endif %}
    </div>

    <div class="detail_article_comments">
        <div class="detail_comment_form">
            {% if user.profile.avatar %}
                <img src="{{user.profile.avatar.url}}" width="30px" height="30px" />
            {% else %}
                <img src="https://kiittnp.in/8134d463acc8c7b66744a481847ab4b/assets/img/user.png" width="30px" height="30px" />
            {% endif %}
            <form class="comment_form" method="POST">{% csrf_token %}
                {{form}}
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/comments.js' %}" type="text/javascript"></script>

{% endblock %}
