{% extends 'base.html' %}
{% load static %}

{% block content %}



<div class="guest">
  <img src="{% static 'img/bg.jpg' %}" />
  <div class="login_container">
    <h3> Enter login and password. And then you will enter. </h3>
    <form method="POST"> {% csrf_token %}
      {{form.as_p}}
      <button type="submit" name="button">login</button>
    </form>
  </div>
</div>

<div class="btn_contact">

  <a href="{% url 'home:about' %}">about</a>
  <a href="{% url 'home:contact' %}">contact</a>

  <p>&copy; 2019 <p>

</div>


{% endblock %}
