{% extends 'base.html' %}


{% block content %}
{% include 'header.html' %}

<div class="statistics_container">

    <div class="info_user_statistics">
        {% if user.profile.avatar %}
            <img src="{{user.profile.avatar.url}}" width="50px" height="50px" />
        {% else %}
        {% endif %}
        <a href="{% url 'home:detail_profile' pk=user.profile.pk %}">{{user.profile.fullname}}</a>
    </div>

    <div class="statistics_graph">
        <h5> STATISTICS </h5>
        <!-- <h5> STATISTICS </h5>
        <p>You have no notes and we can not hold statistics.<br/>
            Most people put notes on Tuesday and Wednesday.
        </p>

        <p>Start using notes and we will collect statistics for you.</p>
        <a href="{% url 'notes:notes_page' %}">click</a> -->

    </div>

</div>
{% endblock %}
