{% extends 'base.html' %}


{% block content %}
{% include 'header.html' %}
{% include 'backup.html' %}
<div class="new_post_container">
    {% if profile.avatar %}
        <img src="{{profile.avatar.url}}" width="50px" height="50px" />
    {% else %}
        <img src="http://analiz-sajta.megabusin.ru/img/not-available.png" width="50px" height="50px" />
    {% endif %}
    <p>{{profile.fullname}}</p>

    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        <textarea required placeholder="Your text ..." name="text"></textarea>
        <span id="clear">Clear</span>
        <img id='img' src="#" />
        <label class="fileContainer">
            photo
            <input id="imgInp" name='images' type="file" >
        </label>
        <button type="submit" name="button">ADD</button>
    </form>
</div>

<script type="text/javascript">
    $(function(){
        $('#clear').hide();
        $('#img').hide();
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#img').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function() {
            readURL(this);
            $('#img').show('slow');
            $('#clear').show();
        });

        $("#clear").click(function () {
            $("#imgInp").val("");
            $('#clear').hide();
            $('#img').hide('slow');
        });

    })



</script>

{% endblock %}
